{% extends "layout.html" %}

{% block content %}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container" id="player">
    <audio controls autoplay controlsList="nodownload"></audio>
    <div class="controls">
      <button class="glyphicon glyphicon-step-backward" id="playPrev" aria-hidden="true" title="Play Previous"></button>
      <button class="glyphicon glyphicon-step-forward" id="playNext" aria-hidden="true" title="Play Next"></button>
    </div>
  </div>
</nav>
<div class="container body" id="playlistApp">
  <nav class="add-url-input navbar-fixed-top input-group ">
    <span class="input-group-btn"><button class="btn btn-default" id="addBtn" type="submit">Add</button></span>
    <input class="form-control" id="add" required type="url" name="url"
           placeholder="audio/video streaming site URL (i.e. youtube, bandcamp, soundcloud)" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" aria-label="Supported Sites">
        <a href="https://github.com/rg3/youtube-dl/blob/master/docs/supportedsites.md" target="_blank"
           title="Supported Sites" class="glyphicon glyphicon-th-list" aria-hidden="true">
        </a>
      </button>
      <button class="btn btn-default" type="button" aria-label="New Playlist" id="addPlaylist">
        <a href="/newplaylist" title="New Playlist">
          <span class="glyphicon glyphicon-plus" aria-hidden='true'></span>
        </a>
      </button>
    </span>
  </nav>
  <div class="container" id="message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'message' %}
            {% set category = 'info' %}
          {% endif %}
          <div class="flashes fade in alert alert-dismissible alert-{{ category }}" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="row-track">TRACK</th>
        <th class="row-source">SOURCE</th>
        <th class="row-delete"></th>
      </tr>
      </thead>
      <tbody id="playlist"></tbody>
    </table>
  </div>
</div>

{% endblock %}