<!DOCTYPE html>
<html>
<head><title>UMQ</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164037072-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164037072-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/underscore/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/backbone/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone-collection-iterator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/umq.js') }}"></script>

    <!-- templates -->
    <script type="text/template" id="track-template">
        <td class="track">
            <div class="track-title" title="<%= title %>"><%- title %></div>
            <div class="track-artist" title="<%= artist %>"> <%- artist %></div>
        </td>
        <td class="url" title="<%= stream_url %>"><%- page_url %></td>
        <td>
            <a class="delete" role="button" title="Delete <%= id %>">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
        </td>
    </script>

</body>
</html>