.container.body {
    padding-top: 15px;
    padding-bottom: 50px;
}
body {
    background-color: lightgray;
}
.navbar {
    height: 50px;
}
.embed-responsive {
    position: initial;
    height: 100%;
}

audio {
    width: 100%;
    height: 39px;
}
form.add {
    margin-bottom: 15px;
}
#input {
	width: 80%;
	margin: 0 0 10px 0;
}

.hidden {
    display: none;
}

#playlist {
    background-color: floralwhite;
    table-layout: fixed;
}
#playlist tbody tr:hover {
    cursor: pointer;
}
#playlist tr {
    height: 31px;
}
#playlist td {
    overflow: hidden;
    white-space: nowrap;
}
.row-id     { width: 35px;  }
.row-title  { width: 70%; }
.row-artist { width: 30%; }
.hideChild > * {
    display: none;
}

#delete {
    -webkit-transition: color 0.2s false;
    -webkit-transition-delay: ease-in;
    -moz-transition: color 0.2s false ease-in;
    -o-transition: color 0.2s false ease-in;
    transition: color 0.15s ease-in;
    font-size: 16px;
    padding: 4px 10px;
}
#delete a {
    color: rgba(185, 3, 3, 0.63);
}

#delete a:hover {
    color: rgb(150, 3, 3);
}

#message {
    position: fixed;
    margin: -10px auto;
    left: 0%;
    right: 0%;
    z-index: 10;
}
#message .alert {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    max-height: 150px;
    overflow-wrap: break-word;
    overflow: overlay;
}
.close {
    opacity: 0.5;
}
.alert-dismissible .close {
    color: black;
}
.close:hover {
    opacity: 0.7;
}

#player {
    height: 100%;
}