#playlist tr:hover {
    cursor: pointer;
    background-color: lightsteelblue;
}
#playlist tr.loading:hover {
    background-color: #c5c1c1;
}
#playlist tr:hover .deleteConfirmation {
    display: block;
}

#playlist td {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

td.track {
    height: 57px;
}

.track-title {
    font-weight: bold;
}

.loading {
    background-color: #c5c1c1;
}

.playing {
    background-color: rgba(153, 189, 107, 0.64);
}

.deleteConfirmation {
    -webkit-transition: color 0.2s false;
    -webkit-transition-delay: ease-in;
    transition-delay: ease-in;
    -moz-transition: color 0.2s false ease-in;
    -o-transition: color 0.2s false ease-in;
    transition: color 0.15s ease-in;
    display: none;
    color: rgba(185, 3, 3, 0.63);
}
.deleteConfirmation :hover {
    color: rgba(185, 3, 3, 0.63);
}
