extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-bottom
        div.container#player
            audio(controls, autoplay)

    div.container.body#playlistApp
        div.input-group
            span.input-group-btn
                button#addBtn.btn.btn-default(type='submit') Add URL
            input#add.form-control(required, type='url', name='url', placeholder='supports most audio/video streaming sites', autofocus)
            span.input-group-btn
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle="dropdown", aria-label='Supported Sites', aria-haspopup="true", aria-expanded="false")
                    span.caret
                ul.dropdown-menu.dropdown-menu-right
                    li: a(href='https://github.com/rg3/youtube-dl/blob/master/docs/supportedsites.md', target='_blank', title='Supported Sites') Supported Sites
                    li: a#deleteAll(role='button', title='Delete All') Delete All

        div#message.container
            - var messages = get_flashed_messages(with_categories=true)
            if messages
                each category, message in messages
                    if category == 'message'
                        category = 'info'
                    div.flashes.fade.in.alert.alert-dismissible(class='alert-'+category, role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true')='x'
                        p=message

        div.table-responsive
            table.table.table-hover
                thead: tr
                    th.row-source='SOURCE'
                    th.row-track='TRACK'
                    th.row-delete
                tbody#playlist
