doctype html
html
  head
    title='UMQ'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}")
    link(rel='stylesheet', href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}")
    link(rel='stylesheet', href="{{ url_for('static', filename='css/index.css') }}")

  body
    block content

    script(src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}")
    script(src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}")
    script(src="{{ url_for('static', filename='js/player.js') }}")
    script(src="{{ url_for('static', filename='js/umq.js') }}")
