<!DOCTYPE html>
<html>
<head><title>UMQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/underscore/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/backbone/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone-collection-iterator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/umq.js') }}"></script>

    <!-- templates -->
    <script type="text/template" id="track-template">
        <td class="url" title="<%= url %>"><%- page_url || url %></td>
        <td class="track" title="<%= title + ' - ' + artist %>"><%- title %></td>
        <td>
            <a class="delete" role="button" title="Delete"><span class="glyphicon glyphicon-remove"
                                                                 aria-hidden="true"></span></a>
        </td>
    </script>
</body>
</html>